html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title!= title
    link(href='/bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='style.css', rel='stylesheet')
    script(src='/bower_components/angular/angular.min.js')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/angular-local-storage/dist/angular-local-storage.min.js')
    script(src='/indexcontroller.js')
  body
    div(class='row')
      div(class='col-md-12 app-title')
        h1
          != title
    div(ng-app='mori', ng-controller='posts', ng-init='newPost()')
      div(class='row')
        div(class='col-md-12 stream-title')
          h4
            | Arbitrary Stream
      div(class='row body')
        div(class='col-md-4 edit-column')
          div(id='editOptions')
            h4
              | {{ mode == 'edit' ? 'Edit Post' : 'Create Post' }}  
            div(class='row post-buttons')
              div(class='col-md-3')
                input(type='button', value='New post', ng-click="newPost()")
              div(class='col-md-9 text-right')
                input(type='button', value='Save Draft', ng-click="savePost(editpost)", ng-if="mode == 'new'")
                input(type='button', value='Update', ng-click="savePost(editpost)", ng-if="mode == 'edit'")
                input(type='button', value='Delete', ng-click="deletePost(editpost)", ng-if="mode == 'edit'")
                input(type='button', value='Publish', ng-click="publishPost(editpost)", ng-if="editpost.state == 'draft'")
                input(type='button', value='Withdraw', ng-click="withdrawPost(editpost)", ng-if="editpost.state == 'published'")
            input(type='text', ng-model='editpost.title', class='text-entry text-entry-title', placeholder='Headline')
            textarea(ng-model='editpost.content', class='text-entry', rows='5')
            p(class='updated-text')
              span(ng-if="mode == 'edit'")
                b
                  | Updated: 
                | {{ editpost.updated }}
        div(class='col-md-4 drafts-column')
          h4
            | Drafts
          ul(class='list-unstyled')
            li(ng-repeat='x in offlinePostModel.drafts | orderObjectBy:"updated":true', ng-click="selectPost(x)", class='selectable-post')
              span(class='post-heading')
                | {{ x.title }}
              i(class='inline-icon')
                | autorenew
              p(class='content')
                | {{ x.content }}
            li(ng-repeat='x in postModel.drafts | orderObjectBy:"updated":true', ng-click="selectPost(x)", class='selectable-post')
              span(class='post-heading')
                | {{ x.title }}
              p(class='content')
                | {{ x.content }}
        div(class='col-md-4 live-column')
          h4
            | Live
          ul(class='list-unstyled')
            li(ng-repeat='x in offlinePostModel.posts | orderObjectBy:"updated":true', ng-click="selectPost(x)", class='selectable-post')
              span(class='post-heading')
                | {{ x.title }}
              i(class='inline-icon')
                | autorenew
              p(class='content')
                | {{ x.content }}
            li(ng-repeat='x in postModel.posts | orderObjectBy:"updated":true', ng-click="selectPost(x)", class='selectable-post')
              span(class='post-heading')
                | {{ x.title }}
              p(class='content')
                | {{ x.content }}
